.carrossel-2__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.descricao__titulo-autora {
    color: var(--laranja);
    font-weight: 700;
    display: flex;
    flex-direction: column;   
}
